

.auth-container{

    display: flex;
    justify-content: space-around;

    .auths-children{

        width: 40%;

    }


    .button-group{

        display: flex;
        justify-content: space-around;

    }



}
