

/* .category-container .background-image {



}

.category-container{
  
  border: 10px;
  border-color: green;
  background-color: black;

}

.categories-container{
  border: 10px;
  border-color: green;
  width: 700px;
  height: 1400px;
  background-color: aqua;
} */